<h1><%= @category.title %></h1>

<% @category.jobs.each do |job| %>
  <% binding.byebug %>
  <% params[:company_id] = job.company %>
  <ul><%= link_to job.title, category_job_path(job) %></ul>
<% end %>
